<%= render :partial => 'admin/shared/product_sub_menu' %>
<%= render :partial => 'admin/shared/product_tabs', :locals => {:current => "Assemblies"} %>
<div id="product_assemblies">
  <%= render :partial => "assemblies_table", :locals => {:assemblies => @assemblies} %>
</div>
